html {
    min-height: 100%;
    position: relative;
}
body {
    padding-top: 60px;
    background-color:#f3f0f0;
    margin-bottom: 60px;
    padding-bottom: 3rem;
    font-family: "Arvo","Helvetica Neue",Helvetica,Arial,sans-serif;
}
nav.navbar {
    background-color:#333;
}
.footer {
    background-color: #333;
    color:#ccc;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top:2rem;
    margin-top:2rem;
}
.container-fluid {
    max-width:1440px;
}
.navbar-inverse .navbar-brand {
  color: #ccc;
}
.navbar-inverse .navbar-nav > li > a {
  color: #999;
}
.panel-default > .panel-heading {
  background-color: #333;
  border-color: #111;
  color: #ccc;
}
.panel {
    background-color: #f7f7f7;
}
.sidebar {
    margin-top: 2rem;
    word-wrap:break-word;
}
.panel-body ul {
    padding-left: 2rem;
    line-height: 2.4rem;
}
.sidebar .get-the-code code {
    font-size:1.2rem;
}
.docs-navi a.active {
    color:#a00;
    text-decoration: underline;
}
