<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy;2014 <a href='http://halls-of-valhalla.org'>Valhalla</a>, <a href='mailto:halls.of.valhalla.contact@gmail.com'>halls.of.valhalla.contact@gmail.com</a></p>
    </div>
</footer>