<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url('valhalla_core_utils_pages', {'page': 'overview'}) }}" class="navbar-brand">Valhalla Core Utils Lib</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class='nav navbar-nav'>
                <li{% if 'overview' == currentPage %} class='active'{% endif %}><a href='{{ url('valhalla_core_utils_pages', {'page': 'overview'}) }}'>Overview</a></li>
                <li><a href='https://bitbucket.org/ynori7/valhalla-core-utils-lib/overview'>Git</a></li>
                {% for item in navigation.pages %}
                <li{% if item.name == currentPage %} class='active'{% endif %}><a href='{{ item.url }}'>{{ unslugify(item.name) }}</a></li>
                {% endfor %}
                <li><a href='http://halls-of-valhalla.org/beta/irc'>IRC</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class='col-md-3 sidebar'>
{% if currentPage == 'docs' %}
    <div class='panel panel-default docs-navi'>
        <div class="panel-heading"><h3>Navigation</h3></div>
        <div class="panel-body">
            <ul>
{% for sectionName,section in navigation.documentation %}
                <li>
                    <a{% if sectionName == currentSection and currentContent == 'overview' %} class="active"{% endif %} href='{{ url('valhalla_core_utils_documentation', { 'section':sectionName, 'content':'overview' })}}'>{{ unslugify(sectionName) }}</a>
                    <ul>
{% for content in section %}
                        <li><a{% if sectionName == currentSection and content.name == currentContent %} class='active'{% endif %} href='{{ content.url }}'>{{ unslugify(content.name) }}</a></li>
{% endfor %}
                    </ul>
                </li>  
{% endfor %}
            </ul>       
        </div>
    </div>
{% endif %}
    <div class='panel panel-default get-the-code'>
        <div class="panel-heading"><h3>Get The Code</h3></div>
        <div class="panel-body">
            <div>
                <p>Get it through Composer:</p>
                <code>"valhalla/valhalla-core-utils-lib": "dev-master"</code>
            </div>
            <div>
                <p>Check out the code from git:</p>
                <code>git clone https://bitbucket.org/ynori7/valhalla-core-utils-lib.git</code>
            </div>
            <div>
                <p>Or download it here:</p>
                <ul class='list-inline'>
                    <li><a href="https://bitbucket.org/ynori7/valhalla-core-utils-lib/get/master.zip">zip</a></li>
                    <li><a href="https://bitbucket.org/ynori7/valhalla-core-utils-lib/get/master.tar.gz">gz</a></li>
                    <li><a href="https://bitbucket.org/ynori7/valhalla-core-utils-lib/get/master.tar.bz2">bz2</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
