{% extends 'ValhallaCoreUtilsBundle::layout.html.twig' %}

{% block title %}{{ unslugify(currentContent) }} - {{ unslugify(currentSection) }} Docs - Valhalla Core Utilities Library{% endblock %}
{% block description %}
{% if currentContent == 'overview' %}Here you can find the main overview for the {{ unslugify(currentSection) }} documentation section. This area will give a brief outline of the various {{ unslugify(currentSection) }} modules.
{% else %}Here you can find a detailed description of the {{ unslugify(currentContent) }} module in the {{ unslugify(currentSection) }} section. This documentation will outline the usage and all of the methods of the {{ unslugify(currentContent) }} utility.{% endif %}
{% endblock %}

{% block body %}
{{ markup|raw }}
{% endblock %}