{% extends 'ValhallaCoreUtilsBundle::layout.html.twig' %}

{% block title %}{% if currentPage != 'overview' %}{{ unslugify(currentPage) }} - {% endif %}Valhalla Core Utilities Library{% endblock %}
{% block description %}
{% if currentPage == 'overview' %}The Valhalla Core Utils Library has many useful classes for many common tasks such as handling Memcached and MySQL connections, making cURL requests, handling sessions, and much more, all without the requirement to install any additional 3rd party libraries. 
{% else %}Here is the {{ unslugify(currentPage) }} page for the Valhalla Core Utilities Library.{% endif %}
{% endblock %}

{% block body %}
{{ markup|raw }}
{% endblock %}