<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="robots" content="{% block robots %}index,follow{% endblock %}" />
        <title>{% spaceless %}{% block title %}Valhalla Core Utilities Library{% endblock %}{% endspaceless %}</title>
        <meta name="description" content="{% spaceless %}{% block description %}{% endblock %}{% endspaceless %}">
        <meta name="google-site-verification" content="KKZhMI3P8Zx9tkMmV8PE8GkNK1uPAtbqnC5dLwct5Vo" />
        <link href="https://fonts.googleapis.com/css?family=Arvo:400,700&subset=latin" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ asset('bundles/valhallacoreutils/css/styles.css') }}" rel="stylesheet"/>
{% set additional_styles_block = block('styles') %}
{% if additional_styles_block is not empty %}
        <link rel="stylesheet" href="{% spaceless %}{% block styles %}{% endblock %}{% endspaceless %}" />
{% endif %}
        <meta property='og:title' content="Valhalla Core Utilities Library"/>
        <meta property='og:site_name' content='Valhalla'/>
        <meta property='og:image' content='http://halls-of-valhalla.org/images/fb_icon.png'/>
        <link rel='image_src' href='http://halls-of-valhalla.org/images/fb_icon.png'/>
        <link rel='shortcut icon' type='image/x-icon' href='{{ asset('bundles/valhallacoreutils/images/favicon.png') }}'/>
        <meta name='copyright' content='Valhalla'/>
{% if status_code is not defined %}
        <link rel="canonical" href="{{ "http://" ~ app.request.host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endif %}
    </head>
    <body>
        <div class="container-wrapper">
          <div class="container-fluid">
            <div class='row'>
{{ render_esi(controller('ValhallaCoreUtilsBundle:Documentation:navigation',
    {
        'currentPage':     currentPage|default('overview'),
        'currentSection':  currentSection|default(''),
        'currentContent':  currentContent|default('')
    }))
}}

              <section class='col-md-8 body'>{% block body %}{% endblock %}</section>
            </div>
          </div>
        </div>
            
{% include 'ValhallaCoreUtilsBundle::Includes/footer.html.twig' %}
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
        <div style='display:none'><script type='text/javascript' src='http://xslt.alexa.com/site_stats/js/s/a?url=core-utils.halls-of-valhalla.org'></script></div>
    </body>
</html>
